main
src/main/resources/application.properties
node_modules
.DS_Store
.env
target
.idea

venv/
.venv/

*.pyc
__pycache__/

instance/

.pytest_cache/
.coverage
htmlcov/

dist/
build/
*.egg-info/
neoflix/
.DS_Store
.env